.header{
    height : 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:50px;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-color:rgb(222,222,222);
    z-index: 100;
}


.left-section-container{
    width:150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:18px;
    padding-right:25px;
    flex-shrink: 0; /*don't shrink*/
}
.hamburger-menu{
    height:25px;
    cursor:pointer;
    padding:5px;
    border-radius:20px;
    transition: background-color 150ms;
}
.hamburger-menu:hover{
    background-color:rgb(222,222,222);
}
.youtube-logo{
    height:20px;
    cursor:pointer;
}


.middle-section-container{
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:1000px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.search-bar{
    height:36px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(222,222,222);
    flex:1;
    max-width:400px;
    padding-left:10px;
    font-size:16px;
    font-family:Roboto,Arial;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.05);
    width:0;
    min-width:60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-bar::placeholder{
    font-family:Roboto,Arial;
    font-size:16px;
}
.search-button{
    display:flex;
    height:39px;
    width:54px;
    align-items:center;
    justify-content: center;
    border-width:1px;
    background-color: rgba(222, 222, 222, 0.407);
    border-color:rgb(222,222,222);
    border-style:solid;
    cursor:pointer;
    transition:opacity 150ms;
    margin-left:-1px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    position:relative;
    transition:opacity 150ms;
}
.search-button-img{
    height:25px;
}
.search-button:hover{
    opacity:0.8;
}
.search-button:active{
    opacity:0.6;
}
.search-button .tooltip{
    font-size:12px;
    position:absolute;
    bottom:-33px;
    text-align:center;
    background-color:gray;
    color:white;
    padding:8px 4px;
    border-radius:2px;
    opacity:0;
    pointer-events:none;
    transition:opacity 150ms;
}
.search-button:hover .tooltip{
    opacity:1;
}
.voice-search-button{
    display:flex;
    height:37px;
    align-items:center;
    justify-content: center;
    border-radius:20px;
    border:none;
    cursor:pointer;
    transition:opacity 150ms;
    margin-left:10px;
    background-color: rgba(222, 222, 222, 0.407);
    position:relative;
    transition:opacity 150ms;
}
.voice-search-img{
    height:30px;
}
.voice-search-button:hover{
    opacity:0.8;
}
.voice-search-button:active{
    opacity:0.6;
}
.voice-search-button .tooltip{
    font-size:12px;
    position:absolute;
    width:120px;
    bottom:-33px;
    text-align:center;
    background-color:gray;
    color:white;
    padding:8px 4px;
    border-radius:2px;
    opacity:0;
    pointer-events:none;
    transition: opacity 150ms;
}
.voice-search-button:hover .tooltip{
    opacity:1;
}


.right-section-container{
    width:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink:0;
}
.upload-img-container{
    position:relative;
    display:grid;
}
.upload-img{
    height:25px;
    cursor:pointer;
    padding:5px;
    border-radius:20px;
    transition:background-color 150ms;
}
.upload-img:hover{
    background-color:rgb(222,222,222);
}
.upload-img-container .tooltip{
    font-size:12px;
    position:absolute;
    bottom:-34px;
    left:-5px;
    text-align:center;
    background-color:gray;
    color:white;
    padding:8px 4px;
    border-radius:2px;
    opacity:0;
    pointer-events:none;
    transition:opacity 150ms;
}
.upload-img-container:hover .tooltip{
    opacity:1;
}
.notifications-icon-container{
    display:grid;
    position:relative;
}
.notifications-img{
    height:25px;
    cursor:pointer;
    padding:5px;
    border-radius:20px;
}
.notifications-img:hover{
    background-color:rgb(222,222,222);
}
.notifications-count{
    display:inline-block;
    background-color: rgb(200,0,0);
    color:white;
    font-size:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 100px;
    position:absolute;
    top:1px;
    right:1px;
  }
.notifications-icon-container .tooltip{
    font-size:12px;
    position:absolute;
    bottom:-34px;
    left:-21px;
    text-align:center;
    background-color:gray;
    color:white;
    padding:8px 4px;
    border-radius:2px;
    opacity:0;
    pointer-events:none;
    transition: opacity 150ms;
}
.notifications-icon-container:hover .tooltip{
    opacity:1;
}
.profile-img{
    height:35px;
    border-radius:100px;
    cursor:pointer;
    padding:5px;
}