.header{
    height : 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:50px;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-color:rgb(222,222,222);
}
.left-section{
    width:150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:25px;
    padding-right:25px;
    flex-shrink: 0; /*don't shrink*/
}
.middle-section{
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:1000px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.right-section{
    width:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink:0;
}
.hamburger-menu{
    height:25px;
    cursor:pointer;
}
.youtube-logo{
    height:20px;
    cursor:pointer;
}
.search-bar{
    height:36px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(222,222,222);
    flex:1;
    max-width:400px;
    padding-left:10px;
    font-size:16px;
    font-family:Roboto,Arial;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.05);
    width:0;
    min-width:60px;
}
.search-bar::placeholder{
    font-family:Roboto,Arial;
    font-size:16px;
}
.search-button{
    display:flex;
    height:39px;
    width:54px;
    align-items:center;
    justify-content: center;
    border-width:1px;
    background-color: rgba(222, 222, 222, 0.407);
    border-color:rgb(222,222,222);
    border-style:solid;
    cursor:pointer;
    transition:opacity 150ms;
    margin-left:-1px;
}
.search-button:hover{
    opacity:0.8;
}
.search-button:active{
    opacity:0.6;
}
.search-button-img{
    height:25px;
}
.voice-search-button{
    display:flex;
    height:37px;
    align-items:center;
    justify-content: center;
    border-radius:35px;
    border:none;
    cursor:pointer;
    transition:opacity 150ms;
    margin-left:10px;
    background-color: rgba(222, 222, 222, 0.407);
}
.voice-search-button:hover{
    opacity:0.8;
}
.voice-search-button:active{
    opacity:0.6;
}
.voice-search-img{
    height:30px;
}
.upload-img{
    height: 25px;
    cursor:pointer;
}
.apps-img{
    height:25px;
    cursor:pointer;
}
.notifications-img{
    height:25px;
    cursor:pointer;
}
.profile-img{
    height:32px;
    border-radius:30px;
    cursor:pointer;
}